<div class="container">
    <div class="row">
        <div class="col-md-12 mt-8">
            <div class="card">
                <div class="card-header">
                    <h4>Inscription de Professeur
                        <a routerLink="/login" class="btn btn-primary float-right">Retour</a>
                    </h4>
                </div>
                   <div class="card-body">
                    <form [formGroup]="formAdd" (ngSubmit)="onSubmit()">
                       <div class="row">
                           <div class="col-md-8">
                               <div class="form-group">
                                   <label>Numero telephone</label>
                                   <input type="number" formControlName="tel" class="form-control" placeholder="au plus 10 chiffres">
                                   <p style="color: brown;" *ngIf="!formAdd.controls['tel'].valid">(uniquement des chiffres)</p>
                                   <label>Nom Professeur</label>
                                   <input type="text" formControlName="nom" class="form-control" placeholder="au moins 3 letttres ">
                                   <p style="color: brown;" *ngIf="!formAdd.controls['nom'].valid"> (uniquement des lettres majuscule ) </p> 
                                   <label>Prenom Professeur</label>
                                   <input type="text" formControlName="prenom" class="form-control" placeholder="au moins trois caracteres">
                                   <p style="color: brown;" *ngIf="!formAdd.controls['prenom'].valid"> (Le premier caractere doit etre une lettre majuscule ) </p> 
                                   <input [(ngModel)]="password" type="hidden" formControlName="password" class="form-control" >
                                   <input [(ngModel)]="role" type="hidden" formControlName="role" class="form-control" >
                               </div>
                               <div class="form-group">
                                <button  [disabled]="!formAdd.valid" type="submit" class="btn btn-success px-4">Creer le compte</button>
                            </div>
                           </div>
                       </div>
                    </form>
                   </div>
            </div>
        </div>
    </div>
</div>

