<div class="container">
    <div class="row">
        <div class="col-md-12 mt-6">
            <div class="card">
                <div class="card-header">
                    <h4>Liste Des Seances  
                        <a routerLink="/professeurs" class="btn btn-primary float-right">Retour</a>
                    </h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" *ngIf="seancePr">
                        <thead>
                        
                            <tr>
                                <th>Date Seance</th>
                                <th>Titre</th>
                                <th>Type</th>
                                <th>Duree</th>

                            </tr>
                        </thead>
                            <tbody>
                        
                            
                                <tr *ngFor ="let s of seancePr._embedded.seances  ">
                                    
                                    <td>{{s.date}}</td>
                                    <td>{{s.titre}}</td>
                                    <td>{{s.type}}</td>
                                    <td>{{s.duree}}</td>


                                    
                                    <td>
                                        <button [routerLink]="['/detailSeance',s._links.self.href]"
                                            class="btn btn-primary">Detail</button>
                                        <button (click)="onDelete(s)" class="btn btn-danger sp">Supprimer</button>
                                    </td>
                                </tr>
                            </tbody>    
                    </table>

                      
                </div>
            </div>
        </div>
    </div>
</div>

                            




