<div class="container">
    <div class="row">
        <div class="col-md-6 mt-8">
            <div class="card">
                <div class="card-header">
                    <h4>Modification de Matiere
                        <a routerLink="/matieres" class="btn btn-primary float-right">Retour</a>
                    </h4>
                </div>
                   <div class="card-body"  *ngIf="matiere">
                    <form [formGroup]="formEdit" (ngSubmit)="onSubmit()">
                        <div class="row">
                           <div class="col-md-8">
                            <div class="form-group">
                                <label>Nom Matiere</label>
                                <input type="text" formControlName="nom" class="form-control"  [(ngModel)]="matiere.nom">
                                <p style="color: brown;" *ngIf="!formEdit.controls['nom'].valid"> (Le remier caractere doit etre une lettres majuscule ) </p> 
                            </div>
                               <div class="form-group">
                                <button  [disabled]="!formEdit.valid" type="submit" class="btn btn-success px-4">Enregistrer</button>
                            </div>
                           </div>
                       </div>
                    </form>
                   </div>
            </div>
        </div>
    </div>
</div>



