<div class="container">
    <div class="row">
        <div class="col-md-12 mt-6">
            <div class="card">
                <div class="card-header">
                    <h1>Bienvenue dans la plateforme Gestion des Seances
                    </h1>
                </div>
                   <div class="card-body">
                    <H2>Pour la Gestion des Classes
                        <a routerLink="/classes" class="btn btn-primary float-right ">Cliquez ici</a>
                           <br>
                    </H2>
                    <H2>Pour la Gestion des Professeurs
                        <a routerLink="/professeurs" class="btn btn-primary float-right">Cliquez ici</a>

                    </H2> 
                       </div>
                   </div>
            </div>
        </div>
</div>


                        

                            
                    
                
    
